@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Product";
}

@foreach (var prod in Model.Products)
{
    <div class="item">
        <h3>@prod.Name</h3>
        @prod.Description
        <h4>@prod.Price.ToString("c")</h4>
    </div>
}

<div class="pager">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x }))
</div>

